.card{
    height: 90vh;
    width: 25%;
    background-color: none;
    align-items: center;
    border: none;
}
.container{
    height: 100%;
    width: 100%;
}

body{
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
}

.card-body{
    position:absolute;
    height: 30vh;
    width: 100%;
    background: linear-gradient(to bottom, #aa0505, #6a0c0b);
    bottom: 0;
    border-radius: 1vh;
}

img{
    z-index: 1;
    height: 40%;
    width: 60%;
    bottom: 20vh;
    position: absolute;

}

.playedby{
    color: #fbca03;
    bottom: 0;
    position: absolute;
}